<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blood Bank - Update Blood Donation</title>
    <link rel="stylesheet" href="./../static/bb.css">
</head>
<body>
    
    <div class="container">
        <h1>Update Blood Donation Record</h1>

        <form id="update-form" method="POST" action="/bloodbank">

            <label for="user-name">User Name:</label>

            <input type="text" id="user-name" name="username" required>

            <label for="user-id">Units</label>
            <!-- Changed name to 'units' to match your Flask code -->
            <input type="text" id="user-id" name="units" required>

            <label for="date">Date(DD/MM/YYYY):</label>
            <input type="text" id="date" name="date" required>

            <label for="blood-group">Blood Group:</label>
            <!-- Changed name to 'blood_group' to match your Flask code -->
            <input type="text" id="blood_group" name="blood_group" required>

            <p>Action should be : <br> D: Donation <br> A: Accepted</p>
            <label for="action">Action ?</label>
            <!-- Changed name to 'action' to match your Flask code -->
            <input type="text" id="action" name="action" required>

            <button type="submit">Update Record</button>
        </form>

        <a href="/logout"> <button>Logout</button></a>
        <p id="success-message" class="hidden">Record updated successfully!</p>
    </div>

    
</body>
</html>
