<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blood Bond</title>
    <link rel="stylesheet" href="./../static/styles.css">
</head>
<body>
    <nav>
      <div class="logo">
        <a href="#">
            <img src="./../static/.png" alt="">
            Blood Bond
        </a>
    </div>
       <ul class="nav-links">
            <li><a href="#">Home</a></li>
            <li><a href="tel:+1234567890">Contact Us</a></li>
            <li><a href="find">Find Blood</a></li>
            <li><a href="community">Community</a></li>
            <li><a href="rewards">Rewards</a></li>
          
            <li><a href="login"> <button>Login</button></a></li>
        </ul>
    </nav>
    <div class="blood-drop-container">
      <img src="./../static/b14.png" alt="Blood Drop">
  </div>
  <div style="text-align: right;" class="content margin">
    <h1 style="font-size: 60px;">"Be The Reason Of someone's <br> heartbeat."</h1>
    <pre class = "content" style="font-size: 25px;">

      Your contribution can make a world of difference, providing strength and support to 
      families during their most challenging times. Join the cause and become a hero for
       those who need it the most. Donate blood, save lives, and strengthen families.
    </pre>  
  </div>
    <hr>
    <div class="card-container">
      <div class="card">
          <div class="counter" id="counter1">0</div>
          <div class="text">persons die every day in India due to non-availability of blood.</div>
      </div>
      <div class="card">
          <div class="counter" id="counter">0</div>
          <div class="text">people's lives saved.</div>
      </div>
      <div class="card">
          <div class="counter" id="counter3">0</div>
          <div class="text"> million peoples lack blood supply every year</div>
      </div>
  </div>
    <footer>
      <p>&copy; 2024 Blood Bond. All rights reserved.</p>
      <p>Contact us: info@bloodbond.com | +91 8791478177</p>
  </footer>
  
    <script src="./../static/script.js"></script>

</body>
</html>
