<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blood Bond</title>
    <link rel="stylesheet" href="./../static/styles.css">
</head>
<body>
    <nav>
      <div class="logo">
        <a href="#">
            <img src=".png" alt="">
            Blood Bond
        </a>
    </div>
        <ul class="nav-links">
            <li><a href="">Home</a></li>
            <li><a href="aboutus">About Us</a></li>
            <li><a href="find-blood">Find Blood</a></li>
            <li><a href="events">Events</a></li>
            <li><a href="register">Register Now</a></li>
            <li><a href="login">Login</a></li>
        </ul>
    </nav>
    <div class="blood-drop-container">
      <img src="./../static/b14.png" alt="Blood Drop">
  </div>
    <div class="content" style="text-align: right;">
      <h1>Sustaining Blood for Future  </h1>
      <pre style="font-size: 20px;">

Donating blood is a simple yet powerful way to save lives.
 Every donation can help multiple patients in need,
  from accident victims to those undergoing surgery.
  By giving blood,                                                          
  you contribute to a healthier community and make a significant impact.
  Remember, your donation can be someone's lifeline. 
      </pre>
     
      
    </div>
    <hr>
    <div class="card-container">
      <div class="card">It is estimated that over 12,000 persons die every day in India due to non-availability of blood. Unfortunately, in our country, many people who need transfusions do not have timely access to safe blood</div>
      <div class="card">Inadequate infrastructure in blood banks leads to inefficient storage and distribution. Modernizing equipment and improving logistics are essential to match supply with demand and reduce wastage.</div>
      <div class="card">Government and healthcare organizations must collaborate to create a robust blood donation system, ensuring timely access to safe blood for those in need.</div>
      <div class="card"> To combat this, awareness campaigns are needed to dispel these misconceptions and encourage regular donations</div>
    </div>

    <footer>
      <p>&copy; 2024 Blood Bank. All rights reserved.</p>
      <p>Contact us: info@bloodbank.com | +123 456 7890</p>
  </footer>
  
    <script src="./../static/script.js"></script>

</body>
</html>
