<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout - Admin Dashboard</title>
    <link rel="stylesheet" href="./../static/logout.css">
</head>
<body>

    <div class="admin-content">
        <h1>Logout</h1>
        <p>Are you sure you want to logout?</p>
        <li><a href="{{url_for('index')}}">Log out</a></li>
    </div>
    <script src="./../static/logout.js"></script>
</body>
</html>
